
<!DOCTYPE html>
<html>
<head>
[#include "manage/common/head.html"/]
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>授权查询管理</h5>
						<div class="ibox-tools">
							<a class="collapse-link" href="${base}/manage/authorize/add"> <i class="fa fa-plus">
									添加</i>
							</a>
						</div>
					</div>
					<div class="ibox-content">

						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>姓名</th>
									<th>微信号</th>
									<th>手机号</th>
									<th>授权编号</th>
									<th>代理级别</th>
									<th>授权开始时间</th>
									<th>授权结束时间</th>
									<th>授权单位</th>
									<th>加盟时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								[#list authorizes as a]
								<tr>
									<td>${a_index+1+(currPage-1)*10} </td>
									<td class="text-warp">${a.name}</td>
									<td class="text-warp">${a.wechatNumber}</td>
									<td class="text-warp">${a.phoneNumber}</td>
									<td class="text-warp">${a.code}</td>
									[#if a.proxyLevel == 1]
									<td class="text-warp">执行董事</td>
									[#elseif a.proxyLevel == 2]
									<td class="text-warp">总代</td>
									[#elseif a.proxyLevel == 3]
									<td class="text-warp">一级</td>
									[#else]
									<td class="text-warp">二级</td>
									[/#if]
									<td class="text-warp">${a.startDate?string('yyyy-MM-dd')}</td>
									<td class="text-warp">${a.endDate?string('yyyy-MM-dd')}</td>
									<td class="text-warp">${a.address}</td>
									<td class="text-warp">${a.createTime?string('yyyy-MM-dd HH:mm:ss')}</td>
									<td>
										<button class="btn btn-info" type="button" onclick="edit(${a.id})">编辑</button>
										<button class="btn btn-warning" type="button" onclick="del(${a.id})">删除</button>
									</td>
								</tr>
								[/#list]
							</tbody>
						</table>
						
						<div class="table" style="float: left;">
							${currPage}/${pageCount}，共 ${count} 条
						</div>
						<div id="page" class="btn-group" style="float: right;">
                      	</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	[#include "manage/common/js.html" /]
	<script>
		$(function(){
			var currPage = ${currPage};
			var pageCount = ${pageCount};
			var p="",n="",html ="";
			
			if(pageCount == 1){
				p='<button type="button" class="btn btn-white" disabled><i class="fa fa-chevron-left"></i></button>';
				html='<button class="btn btn-white active">1</button>';
				n='<button type="button" class="btn btn-white" disabled><i class="fa fa-chevron-right"></i></button>';
			}else{
				if(currPage == 1){
					p='<button type="button" class="btn btn-white" disabled><i class="fa fa-chevron-left"></i></button>';
					n='<button type="button" class="btn btn-white" onclick="page('+(currPage+1)+')"><i class="fa fa-chevron-right"></i></button>';
				}else if(currPage == pageCount){
					p='<button type="button" class="btn btn-white" onclick="page('+(currPage-1)+')"><i class="fa fa-chevron-left"></i></button>';
					n='<button type="button" class="btn btn-white" disabled><i class="fa fa-chevron-right"></i></button>';
				}else{
					p='<button type="button" class="btn btn-white" onclick="page('+(currPage-1)+')"><i class="fa fa-chevron-left"></i></button>';
					n='<button type="button" class="btn btn-white" onclick="page('+(currPage+1)+')"><i class="fa fa-chevron-right"></i></button>';
				}

				for (var i = 0; i < pageCount; i++) {
					if(currPage == i+1)
						html += '<button class="btn btn-white active">'+(i+1)+'</button>';
					else
						html += '<button class="btn btn-white" onclick="page('+(i+1)+')">'+(i+1)+'</button>';
				}
			}

			$("#page").html(p + html + n);
		})
		
		function page(page){
			window.location.href="${base}/manage/shouquanchaxunguanli/"+page;
		}
		
		function edit(id){
			window.location.href="${base}/manage/authorize/edit/"+id;
		}
		
		function show(id){
			window.location.href="${base}/manage/authorize/show/"+id;
		}
		
		function del(id){
			swal({
				  title: '确定要删除吗?',
				  type: 'warning',
				  showCancelButton: true,
				  cancelButtonColor: '#3085d6',
				  confirmButtonColor: '#d33',
				  confirmButtonText: '是的,确定!',
				  cancelButtonText: '取消'
				}).then(function () {
					$.post("${base}/manage/authorize/del/"+id,function(r){
						if(r.code ==0)
							location.reload();
						else {
							swal("删除失败！",r.msg,"error");
						}
					},'json')
				})
		}
	</script>
</body>
</html>