<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> 官方网站</title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
 <meta name="renderer" content="webkit">
<meta name="description" content="" />
[#assign base=request.contextPath /]
<meta name="keywords" content="" />
<link href="${base}/css/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="${base}/css/css/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" href="${base}/css/css/chocolat.css" type="text/css" media="screen">
<link rel="stylesheet" href="${base}/css/css/flexslider.css" type="text/css" media="screen" property="" /> 
<link rel="stylesheet" href="${base}/css/css/smoothbox.css" type='text/css' media="all" />
<link rel="stylesheet" href="${base}/css/css/easy-responsive-tabs.css">
<link href="${base}/css/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="${base}/js/js/modernizr-2.6.2.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Muli:200,300,400,600,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider.css" rel="stylesheet">
