<script type="text/javascript" src="${base}/js/js/jquery-2.1.4.min.js"></script>
<script src="${base}/js/js/jquery.vide.min.js"></script>
<script type="text/javascript" src="${base}/js/js/main.js"></script>
<script src="${base}/js/js/easy-responsive-tabs.js"></script>
<script type="text/javascript" src="${base}/js/js/move-top.js"></script>
<script type="text/javascript" src="${base}/js/js/easing.js"></script>
<script type="text/javascript" src="${base}/js/js/smoothbox.jquery2.js"></script>
<script type="text/javascript" src="${base}/js/js/bootstrap-3.1.1.min.js"></script>
<script defer src="${base}/js/js/jquery.flexslider.js"></script>
<script src="${base}/js/jquery.scrollloading.js"></script>
<script src="${base}/js/new.js"></script>
<script src="${base}/js/jquery.lazyload.js"></script>
<script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>
<script src="http://www.bootcss.com/p/unslider/unslider.min.js"></script>
